/* Base Rules */
body {
  font-family: Calibri;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-20 {
  font-size: 20px;
}
.font-size-40 {
  font-size: 40px;
}
/* Layout Rules */
#servicios-main,
#valores-main,
#recomiendan-main,
#mail-main,
#footer,
#nosotros,
#team,
#set-servicios,
#tecnologias-servicios {
  padding: 3em 0;
}
#header-main,
#header-other {
  padding: 2em 0;
}
.margen-derecho-uno {
  margin-right: 1em;
}
.margen-izquierdo-uno {
  margin-left: 1em;
}
.margen-arriba-uno {
  margin-top: 1em;
}
.margen-arriba-dos {
  margin-top: 2em;
}
.margen-abajo-uno {
  margin-bottom: 1em;
}
.margen-abajo-dos {
  margin-bottom: 2em;
}
.relleno-abajo-uno {
  padding-bottom: 1em;
}
.relleno-uno {
  padding: 1em;
}
.borde-uno {
  border-bottom: 4px solid #2ecc71;
}
.borde-dos {
  border-bottom: 4px solid #3498db;
}
.borde-tres {
  border-bottom: 4px solid #f1c40f;
}
.borde-cuatro {
  border-bottom: 4px solid #e74c3c;
}
.borde-derecho-dot {
  border-right: 2px dotted #95a5a6;
}
.borde-arriba-dot {
  border-top: 2px dotted #95a5a6;
}
.flota-derecha {
  float: right;
}
/* Theme Rules */
#header-main,
#valores-main {
  background: url("../img/header.jpg") center fixed;
}
#team-nosotros {
  background: url("../img/team.jpg") center fixed;
}
#team {
  background-color: rgba(253,255,254,0.8);
}
.color-text-white {
  color: #fff;
}
.color-text-emerald {
  color: #2ecc71;
}
.color-text-alizarin {
  color: #e74c3c;
}
.color-text-peterriver {
  color: #3498db;
}
.color-text-sunflower {
  color: #f1c40f;
}
.color-text-clouds {
  color: #ecf0f1;
}
.color-text-concrete {
  color: #95a5a6;
}
.bg-color-clouds {
  background-color: #ecf0f1;
}
.bg-color-concrete {
  background-color: #95a5a6;
}
.bg-color-oscuro {
  background-color: #2c2c2c;
}
/* Bootstrap Customize Rules */
.navbar-default {
  background-color: rgba(255,255,255,0) !important;
  border-color: rgba(255,255,255,0) !important;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  color: #95a5a6 !important;
}
.navbar {
  margin-bottom: 0 !important;
}
.btn {
  border-radius: 3px !important;
}
