//Variables para colores
white = #ffffff
emerald = #2ECC71
alizarin = #E74C3C
clouds = #ECF0F1
concrete = #95A5A6
peter-river = #3498DB
sun-flower = #F1C40F

//Variables para Unidades de Medida
uno = 1em
dos = 2em
tres = 3em

body
	font-family Calibri
	font-size 16px

h1, 
h2, 
h3, 
h4, 
h5, 
h6,
p
	margin 0
	padding 0

.font-size-18
	font-size 18px

.font-size-20
	font-size 20px

.font-size-40
	font-size 40px