.navbar-default
	background-color rgba(255, 255, 255, 0) !important
	border-color rgba(255, 255, 255, 0) !important

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a
	color concrete !important

.navbar
	margin-bottom 0 !important

.btn
	border-radius 3px !important