#servicios-main,
#valores-main,
#recomiendan-main,
#mail-main,
#footer,
#nosotros,
#team
	padding tres 0

#header-main,
#header-other
	padding dos 0

.margen-derecho-uno
	margin-right uno

.margen-izquierdo-uno
	margin-left uno

.margen-arriba-uno
	margin-top uno

.margen-arriba-dos
	margin-top dos

.margen-abajo-uno
	margin-bottom uno

.margen-abajo-dos
	margin-bottom dos

.relleno-abajo-uno
	padding-bottom uno

.relleno-uno
	padding uno

.borde-uno
	border-bottom 4px solid emerald

.borde-dos
	border-bottom 4px solid peter-river

.borde-tres
	border-bottom 4px solid sun-flower

.borde-cuatro
	border-bottom 4px solid alizarin

.borde-derecho-dot
	border-right 2px dotted concrete

.borde-arriba-dot
	border-top 2px dotted concrete

.flota-derecha
	float right