#header-main,
#valores-main
	background url('../img/header.jpg') center fixed

.color-text-white
	color white

.color-text-emerald
	color emerald

.color-text-alizarin
	color alizarin

.color-text-peterriver
	color peter-river

.color-text-sunflower
	color sun-flower

.color-text-clouds
	color clouds

.color-text-concrete
	color concrete

.bg-color-clouds
	background-color clouds

.bg-color-concrete
	background-color concrete
